# Spreadsheet control source (the sheet must allow read access to the runtime).
GOOGLE_SHEETS_CSV_URL=https://docs.google.com/spreadsheets/d/e/2PACX-1vSTEPFClRQogVXYHNo3PRN4m91wHoKHSpS6Dg5Ofj08JFZdoCS9apvvh3C2OTVpqpebFk6xhaQs6ljY/pub?gid=0&single=true&output=csv
APP_BASE_URL=http://localhost:3001
DATABASE_URL=postgresql://foodmaster:change-me-in-env@localhost:5435/foodmaster
SHOPEE_BOT_USERNAME=auto7313
SHOPEE_BOT_PASSWORD=Auto@7313
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1537384478727606415/N55iktoA7axC-u7ZHt9d6_AzmopoAVkiRgOMtAofXnqLIYyv0rRGoZ_bH6d-4TrJJ7Xr

